
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body {
  font-family: 'Zen Dots', sans-serif;
  background-color: #ffffff;
}


.navbar-style {
  background-color: #000000;
}


.navbar-style .nav-link {
  color: white;
}


.navbar-style .nav-link:hover {
  color: white;
  text-decoration: underline; 
}


.navbar-style .navbar-toggler {
  border-color: white;
}

.navbar-style .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


.banner-image img {
  width: 100%;
}


.bg-style-black {
  background-color: #000000;
}


.img-partners {
  max-width: 70%; 
  height: auto;
}
